In [1]:
import pandas as pd

### Read in the data

In [8]:
stock = pd.read_csv("~/Downloads/BBY (1).csv")
ten_minus_two = pd.read_csv("~/Downloads/T10Y2Y.csv")
ten_year = pd.read_csv("~/Downloads/DGS10.csv")

### First Merge

In [13]:
merge1 = stock.merge(ten_minus_two, how = 'left', right_on = 'DATE', left_on ='Date')

### Second Merge

In [15]:
merge2 = merge1.merge(ten_year, how = 'left', on = 'DATE')

In [19]:
extra_data = merge2.drop('DATE', axis = 1)

In [20]:
extra_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,T10Y2Y,DGS10
0,2017-05-30,58.799999,59.820000,58.700001,59.279999,50.152161,5326200,0.93,2.21
1,2017-05-31,59.320000,59.439999,58.709999,59.389999,50.245220,5726700,0.93,2.21
2,2017-06-01,59.360001,60.340000,59.169998,60.299999,51.015110,3448800,0.93,2.21
3,2017-06-02,60.299999,60.349998,59.230000,59.669998,50.482113,4695700,0.87,2.15
4,2017-06-05,59.820000,59.869999,59.180000,59.520000,50.355217,3514100,0.86,2.18

### Renaming Columns

In [21]:
extra_data = extra_data.rename(columns = {'T10Y2Y': 'Treasury Spread', 'DGS10': '10-Year Treasury Yield'})

### Dropping Extra Columns

In [23]:
extra_data = extra_data.drop(['Open', 'High','Low', 'Adj Close', 'Volume'], axis =1 )

In [24]:
extra_data.head()

         Date      Close Treasury Spread 10-Year Treasury Yield
0  2017-05-30  59.279999            0.93                   2.21
1  2017-05-31  59.389999            0.93                   2.21
2  2017-06-01  60.299999            0.93                   2.21
3  2017-06-02  59.669998            0.87                   2.15
4  2017-06-05  59.520000            0.86                   2.18

### Exporting Data as a CSV

In [27]:
extra_data.to_csv('extra_data.csv')